<form
  [formGroup]="donorForm"
  (ngSubmit)="submitForm()"
  class="form-group"
>
  <div class="container mt-3">
<h4 class="text-center"><u>Join Us</u></h4>

    <div class="row mt-3">
        <div class="col-6">
          <label for="name">Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
          />

          <div *ngIf="!name?.valid && (name?.dirty || name?.touched)" class="validation">
            <div [hidden]="!name.errors?.['required']">
              First Name is required
            </div>
            <div [hidden]="!name.errors?.['minlength']">Minimum Length is 5</div>
          </div>
          <div [hidden]="!name.errors?.['maxlength']">Maximum Length is 30</div>
          

          <label for="number">Contact Number:</label>
          <input
            type="text"
            class="form-control"
            id="number"
            formControlName="number"
          />
          <div *ngIf="!number?.valid && (number?.dirty || number?.touched)" class="validation">
            <div [hidden]="!number.errors?.['required']">Number is required!</div>
          
              <div [hidden]="!number.errors?.['maxlength']">Number is not valid!</div>
          </div>

          <label for="email">Email:</label>
          <input
            type="text"
            class="form-control"
            id="email"
            formControlName="email"
          />
          <div *ngIf="!email?.valid && (email?.dirty ||email?.touched)" class="validation">
            <div [hidden]="!email?.errors?.['required']">
              email is required!
            </div>
            <div [hidden]="!email?.errors?.['email']">
              invalid email id!
            </div></div>

          <label for="dob">Date of Birth:</label>
          <input
            type="date"
            class="form-control"
            id="dob"
            formControlName="dob"
          />

          <label for="bloodGroup">Select Blood Group:</label>
          <select id="bloodGroup" class="form-control" formControlName="blood">
            <option value="A+">A+</option>
            <option value="B+">B+</option>
            <option value="AB+">AB+</option>
            <option value="O+">O+</option>
            <option value="A-">A-</option>
            <option value="B-">B-</option>
            <option value="AB-">AB-</option>
            <option value="O-">O-</option>
            <option value="Oh+">Oh+</option>
            <option value="Oh-">Oh-</option>
          </select>
        </div>
        <div class="col-6">
          <label for="gender">Gender:</label>
          <select id="gender" class="form-control" formControlName="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="Others">Others</option>
          </select>

          <label for="state">State:</label>
          <input
            type="text"
            class="form-control"
            id="state"
            formControlName="state" [(ngModel)]="State"
            (input)="onstateChange()"
          />
          <div *ngIf="!state?.valid && (state?.dirty || state?.touched)" class="validation">
            <div [hidden]="!state?.errors?.['required']">
              State is required!
            </div>
            <div [hidden]="!state?.errors?.['pattern']">
              State is invalid!
            </div>
            <div [hidden]="!state?.errors?.['maxlength']">
              State must have only 25 character!
            </div>
          </div>

          <label for="city">City:</label>
          <input
            type="text"
            class="form-control"
            id="city"
            formControlName="city" [(ngModel)]="City"
            (input)="oncityChange()"
          />
          <div *ngIf="!city?.valid && (city?.dirty || city?.touched)" class="validation">
            <div [hidden]="!city?.errors?.['required']">
              City is required!
            </div>
            <div [hidden]="!city?.errors?.['pattern']">
              City is invalid!
            </div>
            <div [hidden]="!city?.errors?.['maxlength']">
              City must have only 25 character!
            </div>
          </div>

        <label for="alcoholic">Are You alcoholic</label><br>
        <input type="radio" name="alcoholic" formControlName="alcoholic" value="Yes">Yes
        <input type="radio"  name="alcoholic" formControlName="alcoholic" value="No">No<br>

        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
        <div *ngIf="!password?.valid && (password?.dirty || password?.touched)" class="validation">
          <div [hidden] = "!password?.errors?.['required']">
           password is required!
          </div>
          <div [hidden] = "!password?.errors?.['minlength']">
           password must have minimum of 6 character!
          </div>
       </div>
      </div>
    
      <button type="submit" class="btn btn-primary mt-4 mb-3" [disabled] ="!donorForm.valid">Register</button>

      <button type="reset" class="btn btn-danger mt-4 mb-3"  (click)="resetForm()">
        clear
      </button>
    </div>
  </div>
</form>
